@model StAbraamFamily.Models.FamilyServant

@{
    ViewBag.Title = "تعديل بيانات الخادم";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="border-bottom-color: #ffc107 !important;font-size: 25px;font-weight: bold;font-family: Calibri">  بياات خدام الأسرة  </h2>
    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
            <li>
                <a href="@Url.Action("Index","FamilyServants",null)" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fas fa-users  text-warning"></i> تقرير خدام الأسرة
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="col-lg-12">
    <section class="card card-featured card-featured-warning mb-4">
        <header class="card-header">
            <h2 class="card-title" style="text-align:center;font-size:25px;font-weight:bold;font-family:Calibri">خدام الأسرة</h2>
        </header>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   العائلة</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-users text-warning"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("FamilyID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FamilyID, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   أسم الخادم</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user text-warning"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("ServantID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ServantID, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-4">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-outline-danger" style="width:80%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri">ألغاء تعديل البيانات </a>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="تعديل بيانات  خادم أسرة" class="btn btn-sm btn-warning" style="width:80%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Assets/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/Assets/vendor/jquery-ui/jquery-ui.js"></script>

}
