@model IEnumerable<StAbraamFamily.Models.FamilyServant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family.FamilyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servant.ServantName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Family.FamilyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servant.ServantName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
