@model StAbraamFamily.Models.ServiceType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="        border-bottom-color: #5bc0de !important;font-size: 25px;font-weight: bold;font-family: Calibri"> أنواع الخدمات المتاحة </h2>
    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
            <li>
                <a href="@Url.Action("Index","ServiceTypes",null)" class="text-white" style="font-size:18px;font-weight:bold;font-family:Calibri" ">
                    <i class="fas fa-user-cog text-white"></i> تقرير أنواع الخدمات
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="col-lg-12">
    <section class="card card-featured card-featured-dark mb-4">
        <header class="card-header">
            <div class="card-actions">
                @*<a href="#" class="card-action card-action-toggle" data-card-toggle></a>*@
            </div>
            <h2 class="card-title" style="text-align:center;font-size:25px;font-weight:bold;font-family:Calibri"> أضافة نوع خدمة جديد  </h2>
        </header>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.ID)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">نوع الخدمة</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ActionType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActionType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri"> ملاحظات أضافية</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row m-4">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-block btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
