@model IEnumerable<StAbraamFamily.Models.FamilyVisit>

@{
    ViewBag.Title = "Family Visits";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


<header class="page-header" style="background-color: #0088cc;

        border-left-color: #0088cc">
    <h2 class="text-white" style=" border-bottom-color: #ffc107 !important;">@ViewBag.Title</h2>

    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">

            <li>
                <a href="@Url.Action("Create","FamilyVisits",null)" class="text-white">
                    <i class="fas fa-plus-circle fa-2x text-warning"></i> Add New Visit 
                </a>
            </li>

        </ol>
    </div>
</header>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family.FamilyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servant.ServantName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family.FamilyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servant.ServantName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
