@model StAbraamFamily.Models.Servant

@{
    ViewBag.Title = "Create Servant";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="border-bottom-color: #181c21 !important;font-size: 25px;font-weight: bold;font-family: Calibri"> بيانات الخدام</h2>
    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
            <li>
                <a href="@Url.Action("Index","Servants",null)" class="text-white" style="font-size:18px;font-weight:bold;font-family:Calibri">
                    <i class="fas fa-user-cog text-white"></i> تقرير الخدام
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create","FamilyServants",null)" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fas fa-users-cog  text-warning"></i> أضافة خادم أسرة جديد
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create","Fathers",null)" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fas fa-church  text-warning"></i> أضافة أب كاهن جديد
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create","FamilyVisits")" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fa fa-home text-warning"></i>  أضافة زيارة أفتقاد
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="col-lg-12">
    <section class="card card-featured card-featured-dark mb-4">
        <header class="card-header">
            <div class="card-actions">
                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            </div>

            <h2 class="card-title" style="text-align:center;font-size:25px;font-weight:bold;font-family:Calibri"> بيانات خادم جديد</h2>
        </header>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">أسم  الخادم</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </span>
                                    @Html.EditorFor(model => model.ServantName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ServantName, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri"> رقم التليفون </label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </span>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">Email Address</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </span>
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri"> تاريخ الميلاد</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                    <input type="text" data-plugin-datepicker class="form-control" id="DateOfBirth" name="DateOfBirth">
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                @*@Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })*@

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="أضافةخادم جديد" class="btn btn-sm btn-dark" style="width:100%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            }
        </div>

 
    </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
