@model IEnumerable<StAbraamFamily.Models.Servant>

@{
    ViewBag.Title = "Servants";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


<header class="page-header" style="background-color: #0088cc;

        border-left-color: #0088cc">
    <h2 class="text-white" style=" border-bottom-color: #ffc107 !important;">@ViewBag.Title</h2>

    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">

            <li>
                <a href="@Url.Action("Create","Servants",null)" class="text-white">
                    <i class="fas fa-plus-circle fa-2x text-warning"></i> Add New Servant
                </a>
            </li>

        </ol>
    </div>
</header>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
