@using StAbraamFamily.Web.Entities.ViewModels
@model NewFamily

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}
<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="border-bottom-color: #ffc107 !important;font-size: 25px;font-weight: bold;font-family: Calibri">أضافة بيانات العائلة</h2>
    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
            <li>
                <a href="@Url.Action("Index","Families",null)" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fas fa-list-ul text-warning"></i> تقرير العائلات
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="col-lg-12">
    <h4 class="display-4 text-center">New Family Data</h4>

    <div class="toggle toggle-primary" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
        <section class="toggle">
            <label style="font-size:20px;font-weight:bold;text-align:center;font-family:Calibri">بيانات الأب</label>
            <div class="toggle-content">
                <section class="card card-featured-left card-featured-right card-featured-bottom card-featured-primary mb-4">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الأسم بالكامل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.LastName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أسم الأب</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-circle text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.FirstName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        @Html.LabelFor(model => model.person.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        <label class="radio-inline">
                                                            @Html.RadioButtonFor(model => model.person.Gender, new { @name = "gender" })
                                                            Male
                                                        </label>
                                                        <label class="radio-inline">
                                                            @Html.RadioButtonFor(model => model.person.Gender, new { @name = "gender" })

                                                            Female
                                                        </label>
                                                        @Html.ValidationMessageFor(model => model.person.Gender, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">  مكان العمل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-university text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.WorkingPlace, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.WorkingPlace, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> ملاحظات  العمل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-edit text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> المرتب</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-dollar-sign text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Salary, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Salary, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> مصادر دخل أخرى </label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-dollar-sign text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.OtherIncome, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.OtherIncome, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أب الأعتراف</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-church text-primary bg-white"></i>
                                                                </span>
                                                                @Html.DropDownList("ConfessionFather", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.person.ConfessionFather, "", new { @class = "text-danger" })
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الخادم المسئول</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-cog text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.DropDownList("ServantID", null, htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.person.ServantID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الرقم القومى</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-id-card text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.NationalID, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.NationalID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> ملاحظات أضافية</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-edit text-primary bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Notes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-12">
                                                    @*<a class="btn btn-sm btn-primary mt-3" href="@Url.Action("Create","People","")" style="width:100%;font-size:16px;font-weight:bold;">أضافة بيانات الأب </a>*@
                                                    @*<a class="btn btn-sm btn-primary mt-3" id="AddFather" style="width:100%;font-size:16px;font-weight:bold;">أضافة بيانات الأب </a>*@
                                                    <button class="btn btn-sm btn-primary mt-3 text-white" id="AddFather" style="width:100%;font-size:16px;font-weight:bold;">أضافة بيانات الأب </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </section>
    </div>

    <div class="toggle toggle-secondary" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
        <section class="toggle">
            <label style="font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri">بيانات الأم</label>
            <div class="toggle-content">
                <section class="card card-featured-left card-featured-right card-featured-bottom card-featured-danger mb-4">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الأسم بالكامل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.LastName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أسم الأم</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.FirstName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">  مكان العمل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-university text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.WorkingPlace, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.WorkingPlace, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> ملاحظات  العمل</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-edit text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> المرتب</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-dollar-sign text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Salary, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Salary, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> مصادر دخل أخرى </label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-dollar-sign text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.OtherIncome, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.OtherIncome, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الرقم القومى</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-id-card text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.NationalID, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.NationalID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> الخادم المسئول</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-cog text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.DropDownList("ServantID", null, htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.person.ServantID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أب الأعتراف</label>
                                                        <div class="col-md-12">
                                                            @Html.DropDownList("ConfessionFather", null, htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.person.ConfessionFather, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>*@<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"></label>
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                            </div><div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"></label>
                                                    <div class="col-md-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> ملاحظات أضافية</label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-edit text-danger bg-white"></i>
                                                                </span>
                                                            </span>
                                                            @Html.EditorFor(model => model.person.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.person.Notes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-12">
                                                        <a class="btn btn-sm btn-danger mt-3" href="@Url.Action(" Create","People","")" style="width:100%;font-size:16px;font-weight:bold;">أضافة بيانات الأم </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>

    <div class="toggle toggle-dark" data-plugin-toggle data-plugin-options="{ 'isAccordion': true }">
        <section class="toggle">
            <label style="font-size:20px;font-weight:bold;text-align:center;font-family:Calibri">بيانات العائلة</label>
            <div class="toggle-content">
                <section class="card card-featured-left card-featured-right card-featured-bottom card-featured-dark mb-4">
                    <div class="card-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col">
                                <div class="summary">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> كود العائلة</label>

                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-users-cog text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.EditorFor(model => model.family.FamilyCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.family.FamilyCode, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> العنوان</label>

                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-home text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.EditorFor(model => model.family.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.family.Address, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أسم الأب</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-male text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.DropDownList("FatherID", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.family.FatherID, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">أسم الأم</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-female text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.DropDownList("MotherID", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.family.MotherID, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">مستوى الأسرة</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-list-ul text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.DropDownList("EvaluationLevelID", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.family.EvaluationLevelID, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> ملاحظات أضافية</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-edit text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.EditorFor(model => model.family.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.family.Notes, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;"> خادم الأفتقاد</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-user-cog text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.DropDownList("ServantID", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.family.ServantID, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style=" float: right; font-size: 14px; font-weight: bold;text-align: right;">  أب ألأعتراف</label>
                                                        <div class="col-md-12">
                                                            <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fas fa-church text-dark bg-white"></i>
                                                                    </span>
                                                                </span>
                                                                @Html.DropDownList("MissingPriestID", null, htmlAttributes: new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.family.MissingPriestID, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-12">
                                                            <input type="submit" value="أضافة العائلة" class="btn btn-sm btn-dark mt-3" style="width:100%;font-size:16px;font-weight:bold;" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>


</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        document.querySelector('#AddFather').addEventListener('click', function (e) {
            e.preventDefault();
            //alert('test done');
        });

    </script>
}
