@model IEnumerable<StAbraamFamily.Models.Family>

@{
    ViewBag.Title = "Families List";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<header class="page-header" style="background-color: #0088cc;

        border-left-color: #0088cc" >
    <h2 class="text-white"  style=" border-bottom-color: #ffc107 !important;">@ViewBag.Title</h2>

    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
 
            <li>
                <a href="@Url.Action("Create","Families",null)" class="text-white">
                    <i class="fas fa-plus-circle fa-2x text-warning"></i> Add New Family
                </a>
            </li>
 
        </ol>
    </div>
</header>
 
<table class="table">
    <tr>
        <th>
            <label> الملاحظات</label>
        </th>
        <th>
            <label> تقييم العائلة</label>
        </th>
        <th>
            <label> الأب المسئول</label>
        </th>
        <th>
            <label>أسم الخادم </label>
        </th>
        <th>
            <label> العنوان</label>
        </th>
        <th>
            <label>أسم الأم </label>
        </th>
        <th>
            <label> أسم الأب</label>
        </th>
        <th>
            <label>كود العائلة</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluationLevel.EvaluationLevel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Father.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servant.ServantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
