@model IEnumerable<StAbraamFamily.Models.ServiceAction>

@{
    ViewBag.Title = "Our Services";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


<header class="page-header" style="background-color: #0088cc;

        border-left-color: #0088cc">
    <h2 class="text-white" style=" border-bottom-color: #ffc107 !important;">@ViewBag.Title</h2>

    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">

            <li>
                <a href="@Url.Action("Create","ServiceActions",null)" class="text-white">
                    <i class="fas fa-plus-circle fa-2x text-warning"></i> Add New Action
                </a>
            </li>

        </ol>
    </div>
</header>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family.FamilyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servant.ServantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType.ActionType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family.FamilyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.HospitalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servant.ServantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.ActionType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
