@using StAbraamFamily.Web.Entities.Domain
@model Child

@{
    ViewBag.Title = "أضافة بيانات الأبناء";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


    
<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="border-bottom-color: #388038 !important;font-size: 25px;font-weight: bold;font-family: Calibri"> بيانات الأبناء</h2>
</header>

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-9">
            <h4 class="display-4 text-center text-success">New Child Data</h4>
        </div>
        <div class="col-md-3 mt-5">
            <a href="@Url.Action("Index","Children",null)" class="text-success" style="font-size:18px;font-weight:bold;font-family:Calibri">
                <i class="fas fa-users text-warning"></i> تقرير الأبناء
            </a>
        </div>

    </div>
    <section class="card card-featured card-featured-success mb-4">
        <header class="card-header">
            <h2 class="card-title" style="text-align:center;font-size:25px;font-weight:bold;font-family:Calibri"> بيانات أبن / أبنة جديدة </h2>
        </header>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="row" style="font-size:18px;font-weight:bold;font-family:Calibri;">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">العائلة</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-users text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("FamilyID", null, "أختار العائلة", htmlAttributes: new { @class = "form-control" })
                                        @*@Html.ValidationMessageFor(model => model.FamilyID, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">الأسم</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">أب الأعتراف</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-alt text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("ConfessionFather", null, "أختار الأب الكاهن", htmlAttributes: new { @class = "form-control" })
                                        @*@Html.ValidationMessageFor(model => model.ConfessionFather, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">خادم الطفل</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-circle text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("ServantID", null, "أختار الخادم", htmlAttributes: new { @class = "form-control" })
                                        @*@Html.ValidationMessageFor(model => model.ServantID, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 mt-3 pull-right">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            @*@Html.EditorFor(model => model.IsWorking)*@
                                            @Html.CheckBoxFor(model => model.IsStudying, new { id = "IsStudying", data_toggle = "toggle", data_onstyle = "warning" })

                                            @*@Html.ValidationMessageFor(model => model.IsStudying, "", new { @class = "text-danger" })*@
                                        </div>
                                        <span class="input-group-append">
                                            <label class="control-label mt-3 ml-3" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">يدرس ؟</label>
                                        </span>
                                    </div>
                                </div>
                                @*@Html.CheckBoxFor(model => model.IsWorking, new {id = "IsWorking" ,data_toggle = "toggle",data_onstyle = "success"})*@


                            </div>
                        </div>
                        <div class="col-md-3 mt-3 pull-right">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            @*@Html.EditorFor(model => model.IsWorking)*@
                                            @Html.CheckBoxFor(model => model.IsWorking, new { id = "IsWorking", data_toggle = "toggle", data_onstyle = "info" })

                                            @*@Html.ValidationMessageFor(model => model.IsWorking, "", new { @class = "text-danger" })*@
                                        </div>
                                        <span class="input-group-append">
                                            <label class="control-label mt-3 ml-3" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">يعمل ؟</label>
                                        </span>
                                    </div>
                                </div>
                                @*@Html.CheckBoxFor(model => model.IsWorking, new {id = "IsWorking" ,data_toggle = "toggle",data_onstyle = "success"})*@


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">مكان العمل</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-globe text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.WorkingPlace, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.WorkingPlace, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12" style="margin-top:2.5em;float: right;font-size: 14px;font-weight: bold;font-family: Calibri">
                                    <label class="  control-label text-primary" style="font-size: 14px;font-weight: bold;text-align: center;font-family: Calibri;padding-right: 2em;">Gender </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, true, new { @name = "Gender" })
                                        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight:bold;font-size:14px;">Male</span>
                                    </label>
                                    <label class="radio-inline  pl-3">
                                        @Html.RadioButtonFor(model => model.Gender, false, new { @name = "Gender" })
                                        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight:bold;font-size:14px;">Female</span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">تاريخ الميلاد</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-calendar-alt text-success bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row m-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    @*<input type="submit" value="أضافة الطفل" class="btn btn-sm btn-outline-secondary" style="width:100%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri" />*@
                                    <a href="@Url.Action("Index","Children")" class="btn btn-sm btn-outline-danger" style="width:100%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri">Back to Children List</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="أضافة الأبن / الأبنة" class="btn btn-sm btn-outline-success" style="width:100%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
          rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/Assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/Assets/js/examples/examples.advanced.form.js"></script>

    <link href="~/Assets/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/Assets/vendor/jquery-ui/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $("#DateOfBirth").datepicker();
        });
    </script>

}
