@model StAbraamFamily.Models.Child

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWorking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWorking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStudying)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStudying)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family.FamilyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family.FamilyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Father.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Father.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servant.ServantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servant.ServantName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
