@model IEnumerable<StAbraamFamily.Models.Child>

@{
    ViewBag.Title = "Children List";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}

<header class="page-header" style="background-color: #0088cc;

        border-left-color: #0088cc">
    <h2 class="text-white" style=" border-bottom-color: #ffc107 !important;">@ViewBag.Title</h2>

    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">

            <li>
                <a href="@Url.Action("Create","Children",null)" class="text-white">
                    <i class="fas fa-plus-circle fa-2x text-warning"></i> Add New Child
                </a>
            </li>

        </ol>
    </div>
</header>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStudying)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family.FamilyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servant.ServantName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWorking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStudying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family.FamilyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servant.ServantName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
