@model StAbraamFamily.Models.Person

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FamilyLayout.cshtml";
}


<header class="page-header" style="background-color: #0088cc;border-left-color: #0088cc">
    <h2 class="text-white" style="border-bottom-color: #ffc107 !important;font-size: 25px;font-weight: bold;font-family: Calibri"> بيانات الأفراد</h2>
    <div class="right-wrapper text-left">
        <ol class="breadcrumbs float-md-right mr-5">
            <li>
                <a href="@Url.Action("Index","Families",null)" class="text-white" style="font-size: 18px; font-weight: bold; font-family: Calibri">
                    <i class="fas fa-list-ul text-warning"></i> تقرير الأفراد
                </a>
            </li>
        </ol>
    </div>
</header>

<div class="col-lg-12">
    <div class="col-lg-12">
        <section class="card card-featured card-featured-info mb-4">
            <header class="card-header">
                <h2 class="card-title" style="text-align:center;font-size:25px;font-weight:bold;font-family:Calibri"> بيانات  الفرد</h2>
            </header>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="row" style="font-size:18px;font-weight:bold;font-family:Calibri;">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   كود الفرد</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   الأسم بالكامل</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-users text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12" style="margin-top:2.5em;float: right;font-size: 14px;font-weight: bold;font-family: Calibri">
                                    <label class="  control-label text-primary" style="font-size: 14px;font-weight: bold;text-align: center;font-family: Calibri;padding-right: 2em;">Gender </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, true, new { @name = "Gender" })
                                        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight:bold;font-size:14px;">Male</span>
                                    </label>
                                    <label class="radio-inline  pl-3">
                                        @Html.RadioButtonFor(model => model.Gender, false, new { @name = "Gender" })
                                        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight:bold;font-size:14px;">Female</span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="col-md-12" style="float: right;font-size: 14px;font-weight: bold;font-family: Calibri">
                                    <label class="  control-label text-primary" style="margin-top: 2.5em;font-size: 14px;font-weight: bold;text-align: center;padding-right: 2em;font-family: Calibri">الحالة الأجتماعية</label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Status, true, new { @name = "status" })
                                        <span style="font-family:Calibri;font-weight:bold;font-size:14px;">متزوج</span>
                                    </label>
                                    <label class="radio-inline  pl-3">
                                        @Html.RadioButtonFor(model => model.Status, false, new { @name = "status" })
                                        <span style="font-family:Calibri;font-weight:bold;font-size:14px;">غير متزوج</span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-10 " style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">  رقم البطاقة</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-id-card text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.NationalID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NationalID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-10" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   رقم التليفون</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   تاريخ الميلاد</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-calendar-alt text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   مكان العمل</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-university text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.WorkingPlace, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.WorkingPlace, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   الخادم المسئول</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-cog text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("ServantID", null, "أختار الخادم", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ServantID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   أب الأعتراف</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-church text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.DropDownList("ConfessionFather", null, " أختار أب الأعتراف  ", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfessionFather, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                <div class="form-group">
                    <label class="  control-label col-md-6" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   أرمل ؟</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-female text-info bg-white"></i>
                                </span>
                            </span>
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsWidow)
                                @Html.ValidationMessageFor(model => model.IsWidow, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   المرتب</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-dollar-sign text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   مصادر دخل اخرى</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-search-dollar text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.OtherIncome, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OtherIncome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="  control-label col-md-4" style="float: right;font-size: 14px;font-weight: bold;text-align: right;font-family: Calibri">   ملاحظات أخرى</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-edit text-info bg-white"></i>
                                            </span>
                                        </span>
                                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="أضافة فرد جديد" class="btn btn-sm btn-primary rounded" style="width:100%;font-size: 20px;font-weight: bold;text-align: center;font-family: Calibri" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </section>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Assets/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/Assets/vendor/jquery-ui/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {

            $("#DateOfBirth").datepicker();
        });
    </script>
}
